---
import ScheckIcon from '@/icons/check.astro'

interface Props {
  id: string
  popular?: boolean
  title: string
  description: string
  cost: {
    value: string
    unit?: string
  }
  specs: string[]
}

const { id, popular, title, description, cost, specs = [] } = Astro.props
---

<article
  id={'plan-' + id}
  class={`flex-1 relative w-full h-min px-4 py-6 rounded-lg bg-gradient-to-b to-transparent ${popular ? 'order-first md:order-none from-accent-color/15 md:py-14' : 'from-accent-color/[1%]'} border border-accent-color/10 text-accent-color backdrop-blur-xl hover:border-accent-color/70 hover:from-accent-color/30 transition flex flex-col justify-center items-center`}
>
  {
    popular && (
      <small class='absolute top-0 right-0 m-4 px-3 py-1 border border-accent-color/10 bg-accent-color/10 rounded-full text-xs shadow-md'>
        Popular
      </small>
    )
  }
  <div class='w-full flex flex-col'>
    <h2 class='text-3xl text-primary-color mb-2'>{title}</h2>
    <p class='text-sm text-opacity-70 leading-tight overflow-visible h-20 mb-4'>
      {description}
    </p>

    <h3 class='text-5xl flex my-8' aria-hidden='true'>
      {cost.value}<span class='text-base text-primary-color'>{cost.unit}</span>
    </h3>
    <h3 class='sr-only'>{`${cost.value} ${cost.unit ?? ''}`}</h3>

    <button
      class='w-full rounded-full mb-4 bg-accent-color/20 py-2 px-4 border border-accent-color/10 hover:bg-primary-color hover:text-secondary-color hover:border-primary-color transition'
      >Empieza</button
    >
    <ol
      class='text-sm divide-y-[1px] divide-accent-color/30'
      aria-label='planes'
      aria-hidden='false'
    >
      {
        specs.map((spec) => (
          <li class='flex gap-2 items-center py-2'>
            <ScheckIcon class='size-4 text-primary-color' />
            <h4>{spec}</h4>
          </li>
        ))
      }
    </ol>
  </div>
</article>

<style>
  article {
    view-timeline-name: --plans-item-timeline-name;
    animation-name: plans-item-enter;
    animation-fill-mode: both;
    animation-timeline: --plans-item-timeline-name;
    animation-range: entry 10% cover 20%;
  }

  @keyframes plans-item-enter {
    from {
      transform: translateY(150%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
